body {
  background-color: #e3f7ed
}
h1 {
  font-family: Times; serif;
  font-stretch: condensed;
  font-variant: small-caps;
  text-align: center;
  border-bottom: solid 2px #000000;
}
h3 {
  text-align: center;
}

p {
  font-family: monospace;
  font-size: 
}
